// main: ../../less/style.less

.works {
  padding-bottom: 50px;
}
.works__heading {
  background-image: url(../img/header-pattern.png);
  background-repeat: repeat-x;

  h1 {
    position: relative;
    top: -3px;
    display: inline-block;
    padding-right: 20px;
    margin: 0;
    margin-bottom: 20px;
    background-color: @bg-main;
    color: @orange;
    font-size: 18px;
  }
}

.work__info {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-top: none;
  h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    color: @gray;
  }
  p {
    margin: 0;
    font-family: @font-primary;
    font-size: 11px;
    color: @orange;
    line-height: 1.64;
  }
}
